<div id="add">
	<form action="/add_item" method="POST" id="add_item">
		<input type="text" name="item" id="input" placeholder="Add an item then press enter">
	</form>
</div>
<div>
	<h1>Items:</h1>
	<ul id="items"></ul>
</div>
