<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= typeof(title) == "undefined" ? "Awesome" : title %></title>
		<link rel='stylesheet', href='/stylesheets/style.css' />
		<script type="text/javascript" src="javascripts/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="javascripts/script.js"></script>
	</head>
	<body>
		<%- body %>
	</body>
</html>
